.standard-button-upload {
    background-color: hsla(237, 35%, 33%, 1);
    border: 2px solid white;
    border-radius: 20px;
    width: 245px;
    height: 72px;
    color: white;
    font-family: "Noto sans", sans-serif;
    font-size: 20px;
    margin-top: 10px;
}

.standard-button-upload:hover {
    background-color: hsla(237, 35%, 46%, 1);
    cursor: pointer;
}

#file-upload-form {
    background-color: hsla(237, 35%, 46%, 1);
    display: flex;
    flex-direction: column;
    margin-left: 592px;
}

.file-upload-div {
    height: 100%;
    background-color: hsla(237, 35%, 46%, 1);
    color: white;
    font-family: "Noto sans", sans-serif;
    font-size: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}