.QApage-div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#QA-sidebar, #QA-right {
    float: left;
    margin: 0px;
    width: 20%;
    text-align: center;
    height: 100%;
    background-color: hsla(237, 35%, 33%, 1);
}

#QA-sidebar {
    /* text alignment */
    overflow: scroll;
    font-family: 'Noto Sans', sans-serif;
    color: white;
}

#QA-right {
    /* text alignment */
    overflow: scroll;
    font-family: 'Noto Sans', sans-serif;
    color: white
}

#loaded-docs-header {
    margin-top: 28.5px;
    margin-bottom: 0px;
    padding-bottom: 23.5px;
}

#right-bar-header {
    margin-top: 28.5px;
    padding-bottom: 3.5px;

}

.loaded-docs-div {
    border-top: 1px solid white;
    width: 275px;
    word-wrap: break-word;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
}

.standard-button {
    background-color: hsla(237, 35%, 33%, 1);
    border: 2px solid white;
    border-radius: 20px;
    width: 245px;
    height: 72px;
    color: white;
    font-family: "Noto sans", sans-serif;
    font-size: 20px;
}

.standard-button:hover {
    background-color: hsla(237, 35%, 46%, 1);
    cursor: pointer;
}









#QA-bigbox {
    /* alignment on page */
    float: left;
    margin: 0px;
    width: 60%;
    text-align: center;
    height: 100%;

    /* styling */
    background-color: hsla(237, 35%, 46%, 1);

    /* setup for chatbox */
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#QA-title {
    margin-top: 40px;
    font-family: "Noto sans", sans-serif;
    color: white;
    font-size: 40px;;
}

#QA-chatbox {
    /* styling */
    background-color: white;
    width: 100%;
    height: 90%;
    margin-top: 5%;


    /* setup for userprompt */

}

#QA-userbox {
    height: 40%;
    background-color: hsla(237, 35%, 52%, 1);
    text-align: left;
    padding-left: 120px;
    margin: 0;
    padding-top: 20px;
    padding-right: 20px;
    overflow: scroll;
    color: white;
    font-family: "Noto sans", sans-serif;
    display: flex;
    flex-direction: row;
}

#user-icon {
    margin-left: -85px;
    padding-right: 40px;
}

#QA-botbox {
    height: 40%;
    background-color: hsla(237, 35%, 46%, 1);
    text-align: left;
    padding-left: 120px;
    padding-top: 20px;
    padding-right: 20px;
    margin-top: 0px;
    overflow: scroll;
    color: white;
    font-family: "Noto sans", sans-serif;
    display: flex;
    flex-direction: row;
}









#QA-userprompt {
    /* styling */
    position: fixed;
    width: 688px;
    height: 41px;
    margin-left: 10%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: hsla(237, 35%, 46%, 1);

    /* positioning */
    margin-left: 81px;   
    margin-top: 30px; 
}

#QA-userinput {
    /* styling */
    width: 90%;
    height: 100%;
    border-radius: 10px;
    font-size: large;
    padding-left: 5px;
    float: left;
}

#QA-usersubmit {
    /* styling */
    width: 10%;
    height: 100%;
    border-radius: 10px;
}