<html>
    <head>
        <title> File upload </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="static/css/file_upload.css">
    </head>
    <body>
        <div class="file-upload-div">
            <h1> file upload </h1>
            <br>
            <form id="file-upload-form" method="post" enctype="multipart/form-data">
                <input class="standard-button-upload" type="file" name="file" multiple>
                <input class="standard-button-upload" type="submit" value="upload">
            </form>
        </div>
    </body>
</html>