<html>
    <head>
        <title> form submission </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="static/css/genform.css">
    </head>
    <body>
        <div class="appeal-form-div">
            <h1> file upload </h1>
            <br>
            <form class="appeal-form" method="post">
                <input type="text" placeholder="name">
                <input class="btn btn-default" type="submit" value="submit">
            </form>
        </div>
    </body>
</html>