<html>
    <head>
        <title> form submission </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="static/css/genform.css">
    </head>
    <body>
        <div class="appeal-form-div">
            <h1> file upload </h1>
            <br>
            <form class="appeal-form" method="post">
                <h3> Personal details </h3>
                    <input name="personal_details" type="text" placeholder="name, age, gender">
                    <input name="marital_status" type="text" placeholder="marital status">

                <h3> Financial status </h3>
                    <input name="nett_income" type="text" placeholder="income">
                
                <h3> Familial information </h3>
                    <input name="family_support" type="text" placeholder="family support">

                <h3> Problems </h3>
                    <input name="presenting_problems" type="text" placeholder="problems">
                    <input name="additional_factors" type="text" placeholder="addtl.">
                    <input name="solutions_tried" type="text" placeholder="solutions tried">
                <div class="form-button-div">
                    <input class="form-button" type="submit" value="submit">
                </div>
            </form>
        </div>
    </body>
</html>