<html>
    <head>
        <title> file upload for form submission </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="static/css/genform.css">
    </head>
    <body>
        <div class="appeal-form-div">
            <h1> file upload </h1>
            <br>
            <form class="appeal-file-form" method="post" enctype="multipart/form-data">
                <input class="form-file-upload" type="file" name="file" multiple>
                <div class="form-button-div">
                    <input class="form-button" type="submit" value="submit">
                </div>
            </form>
        </div>
    </body>
</html>